---
import Base from "../layouts/Base.astro";
import { getAllQueviures } from "../db/operations";
import { actions } from "astro:actions";
import QueviurePerComprar from "../components/QueviurePerComprar.astro";
import QueviureComprat from "../components/QueviureComprat.astro";
import { PlusCircle } from "lucide-astro";

const desaQueviureResult = Astro.getActionResult(actions.desaQueviure);
if (desaQueviureResult && !desaQueviureResult.error) {
  console.info("all good");
  Astro.redirect("/");
}

const queviures = await getAllQueviures();
const queviuresComprats = [];
const queviuresPerComprar = [];
for (const queviure of queviures) {
  if (queviure.comprat) queviuresComprats.push(queviure);
  else queviuresPerComprar.push(queviure);
}
queviuresComprats.sort((a, b) => a.comprat!.getTime() - b.comprat!.getTime());
---

<Base>
  <main class="text-xl">
    <h2 class="mt-2 mb-4 w-full text-left uppercase font-light">Per comprar</h2>
    <ul class="flex flex-col mb-1">
      {
        queviuresPerComprar.map((queviure) => (
          <li class="my-1 border-b border-gray-700">
            <QueviurePerComprar nom={queviure.nom} />
          </li>
        ))
      }
    </ul>
    <form
      action={actions.desaQueviure}
      method="POST"
      class="flex flex-row justify-between"
    >
      <label for="add-queviure" class="w-full mr-4">
        <input
          type="text"
          minlength="1"
          name="nom"
          required
          autocapitalize="sentences"
          class="text-gray-900 bg-gray-300 px-1 h-full w-full rounded-sm"
        />
      </label>
      <button type="submit" id="add-queviure" class="text-blue-500">
        <PlusCircle class="size-8 stroke-1" />
      </button>
    </form>
    {desaQueviureResult?.error && (
      <p class="text-red-500">No s'ha pogut afegir. Error: {desaQueviureResult?.error}</p>
    )}
    {queviuresComprats.length > 0 &&
      (<h2 class="mb-4 mt-10 w-full text-left uppercase font-light">Anteriors</h2>
        <ul class="flex flex-col mb-4">
          {
            queviuresComprats.map((queviure) => (
              <li class="my-1 border-b border-gray-700">
                <QueviureComprat nom={queviure.nom} />
              </li>
            ))
          }
        </ul>)
    }
  </main>
</Base>
