---
import { CheckCircle2 } from "lucide-astro";
import { actions } from "astro:actions";

interface Props {
  nom: string;
}
const { nom } = Astro.props;
---

<div class="w-full h-fit flex flex-row justify-between">
  <span>{nom}</span>
  <form action={actions.compraQueviure} method="POST">
    <label>
      <input hidden name="nom" required value={nom} />
    </label>
    <button type="submit" class="text-green-500 my-auto cursor-pointer">
      <CheckCircle2 class="size-8 stroke-1" />
    </button>
  </form>
</div>
