---
import "../styles/global.css";
---

<html lang="ca" class="bg-black">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>COMPRA</title>
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
  </head>
  <body class="text-gray-200 max-w-xl mx-auto px-2 py-2 mb-10">
    <slot />
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scrollPosition = localStorage.getItem("scrollpos");
    if (scrollPosition) window.scrollTo(0, +scrollPosition);
  });

  window.onbeforeunload = function (e) {
    localStorage.setItem("scrollpos", window.scrollY.toString());
  };
</script>
