---

---

<html lang="ca">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>COMPRA</title>
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="bg-black text-gray-200 max-w-xl mx-auto px-2 py-2 mb-10">
    <slot />
  </body>
</html>
